@using Buffet.ViewModels.Home
@model Buffet.ViewModels.Home.ClientesViewModel
@{
    ViewData["Title"] = "Clientes";
}
<h1>@ViewData["Title"]</h1>

<p>Listagem de clientes.</p>
<ul>
    @foreach (Cliente cliente in Model.Clientes) {
        <li>
            @cliente.Nome e possui @cliente.Idade anos de vida
            @if (@cliente.Idade < 45) {
                <span> menor que 45 anos</span>
            }
        </li>    
    }
</ul>