@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Política de Privacidade é o documento que contém as práticas e medidas de Privacidade<br> 
    e Segurança adotadas por determinada organização. ... <br>
    A lei estipula uma série de obrigações para empresas e organizações sobre coleta, <br>
    armazenamento, tratamento e compartilhamento de dados pessoais, tanto online quanto offline.</p>


