@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Por meio do documento de Termos e Condições de Uso um site ou um aplicativo <br>
    explica aos usuários quais são as condições de utilização do serviço disponibilizado, <br>
    seja ele gratuito ou pago.</p>
    